@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    color: #666;
    font-family: "Open Sans";
    font-weight: 400;
}

.menu {
    display: flex;
    text-align: center;
}

.item-nav {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 10px;
    border: 1px solid grey;
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 115%;
    left: 0;
    box-shadow: 2px 2px 3px 2px #666;
}

.item-nav>a {
    color: #666;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.item-nav.item-empty {
    flex: 3;
}

.item-nav:hover {
    cursor: pointer;
    color: #666;
    background: #2da5da;
}

.item-nav:hover>a {
    color: #666;
}

.item-nav:hover .sub-menu {
    display: block;
}

.sub-menu .sub-menu__link {
    text-decoration: none;
    color: #666;
    min-width: 180px;
    padding: 20px;
    display: flex;
    gap: 15px;
}

.sub-menu__items+.sub-menu__items {
    border-top: 2px solid gray;
}

.sub-menu__items:first-child {
    position: absolute;
    left: 40px;
    top: -20px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: white;
}