* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.map {
    margin: 20px 30px;
}

.info-map p {
    margin-left: 40px;
}

.info-map p a[href="mailto:fullstack.edu@gmail.com"] {
    color: #af9656;
    text-decoration: underline;
}

.list-map {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: fit-content;
    border: 2px solid rgb(228, 189, 189);
}

.items-map a:hover {
    background-color: #6dca38;
    color: aliceblue;
}

.items-map.active-map a {
    background-color: #af9656;
    color: aliceblue;
}

.items-map a {
    display: block;
    padding: 10px 40px;
    background-color: white;
}

.inner-map {
    display: flex;
    margin-top: 20px;
}

.info-map {
    flex: 1;
    background-color: #f6f6f6;
}

.google-map {
    flex: 2;
}


.heading-title {
    margin-left: 40px;
    margin-top: 40px;
}

.content-map {
    color: grey;
    font-weight: bold;
}

/* .info-map li:nth-child(4) {
    margin-top: 15px;
} */

.email {
    color: green;
}