::-webkit-input-placeholder {
    font-style: normal;
    font-weight: bold;
}

body {

    font-family: Verdana;
    background-color: white;

}

.contact {
    display: flex;
    flex-direction: row;
}

.container {
    /* width: 850px;
    margin: 0 auto; */
    padding: 20px;
    /* background-color: beige; */
    margin-left: 30px;
    margin-right: 50px;
}

.items-contact-info {
    display: flex;
    justify-self: center;
    font-size: 14px;
    margin-top: 20px;
}

.items-contact-info i {
    margin-right: 10px;
}

.items-contact-info span a {
    text-decoration: none;
    color: black;
}

.contact-inf {
    flex: 1;
}

.contact-inf h2,
.book-appointment h2 {
    font-weight: normal;
}

.book-appointment {
    flex: 2.5;
    /* margin-left: 10px; */
}


.input-book-appointment {
    margin: 8px 0px;
}

.book-appointment input {
    width: 100%;
    padding: 5px;
    /* border-style: hidden; */

}

.book-appointment textarea {
    /* width: 600px; */
    width: 100%;
    padding: 5px;
    /* border-style: hidden; */
}

.btn-book-appointment {
    margin-top: 10px;
}

.btn-book-appointment button {
    /* border-radius: 4px; */
    background-color: #85DBDA;
    padding: 10px 15px;
    color: white;
    border: none;

}

.heading1 {
    position: relative;
}

.heading1-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    width: 70px;
    height: 3px;
    background-color: #febc46;
}