// $primaryColor: red;
// $color: red;
// $props: background-color;
// $selectorPrefix: ".col"; //chuá»—i
// $size: 16;

$containerWidth: 1200px;
$column: 12;
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1800px
);
